{% extends "game/base.html" %}

{% block page_title %}Game board{% endblock %}

{% block page_body %}

<div class="row">
    <div class="col-lg-4">
        <h3>You</h3>
        <img src="" title="Player body picture" width="480" height="740"/>
    </div>
    <div class="col-lg-4">
        <h3>The other person</h3>
        <img src="" title="Other body picture" width="480" height="740"/>
    </div>
    <div class="col-lg-4">
        <h3>Touch preparation</h3>
        <div class="form-group">
            <label for="media_select">Media</label>
            <select id="media_select" title="Select the part of your body you want to use to touch the person">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div class="form-group">
            <label for="zone_select">Zone</label>
            <select id="zone_select" title="Select the part of the persons body you want to touch">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <p><span id="medias_count">3</span> / <span id="medias_limit">3</span> medias</p>
        <p><span id="zones_count">4</span> / <span id="zones_limit">4</span> zones</p>
    </div>
    <div class="col-lg-4">
        <div class="pull-right">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="col-lg-4">
        <h3>History</h3>
        <table class="table table-striped table-reflow">
            <tr>
                <th>#</th>
                <th>Message</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>2</td>
                <td>She touched your <strong>tongue</strong> with her <strong>finger</strong></td>
                <td><button class="btn btn-success btn-xs">+10</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>You touched her <strong>lips</strong> with your <strong>sex</strong></td>
                <td><button class="btn btn-success btn-xs">+20</button></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
